body {
	--accent: #388E19;
	--text: #444;
	--bg: #eee;
	--white: #fff;
}

body {
	font-family: sans-serif;
	color: var(--text);
	background: var(--bg);
	font-size: 18px;
	line-height: 1.4;
	scroll-behavior: smooth;
}

main {
	max-width: 850px;
	margin: 0 auto;
	padding: 20px;
}

header {
	display: flex;
	flex-flow: row wrap;
	gap: 20px;
}

aside#header-card {
	flex: 1 0 fit-content;
	height: fit-content;
	display: flex;
	flex-flow: row wrap;
	border-start-start-radius: 20px;
	border-end-end-radius: 20px;
	box-shadow: 0 0 4px 0 var(--text);
	background: var(--white);
}

aside#header-card > div {
	height: 100px;
	margin: 0 auto;
	padding: 20px;
}

aside#header-card > div:first-child {
	background: var(--text);
	border-start-start-radius: 20px;
	flex: 1 0 100px;
	text-align: center;
}

aside#header-card > div:not(:first-child) {
	flex-grow: 2;
}

#profile-pic {
	height: 100px;
	width: 100px;
	border-start-start-radius: 20px;
	border-end-end-radius: 20px;
	box-shadow: 0 0 4px 0 var(--text);
}

#header-title {
	font-size: 36px;
	letter-spacing: 0.5ch;
	font-weight: bold;
	font-family: monospace;
	text-align: center;
}

#header-subtitle {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

nav {
	flex: 2 0 min-content;
	display: flex;
	flex-flow: row wrap;
	align-content: start;
	gap: 10px;
}

nav a {
	height: fit-content;
	border-start-start-radius: 10px;
	border-end-end-radius: 10px;
	border: 1px solid var(--text);
	border-inline-start-width: 10px;
	background: var(--white);
	box-shadow: 0 0 4px 0 var(--text);
	padding: 5px;
	font-weight: bold;
	color: var(--text);
}

nav a:hover {
	color: var(--accent);
	border-color: var(--accent);
}

section {
	margin: 20px auto;
	padding: 20px;
	border-start-start-radius: 20px;
	border-end-end-radius: 20px;
	background: var(--white);
	box-shadow: 0 0 4px 0 var(--text);
}

.two-columns {
	display: flex;
	flex-flow: row wrap;
	gap: 20px;
}

.two-columns > * {
	flex: 1 1 40%;
	position: relative;
	border: 1px solid var(--bg);
	border-start-start-radius: 20px;
	border-end-end-radius: 20px;
	padding: 10px;
}

h1, h2, h3, h4, h5, h6,
#header-title,
hr, a,
li::marker {
	color: var(--accent);
}

h1, h2, h3, h4, h5, h6 {
	font-family: monospace;
}

p {
	text-align: justify;
}

ul li::marker {
	content: '- ';
	font-weight: bold;
}

pre {
	padding: 10px;
	background: var(--bg);
	font-size: 14px;
	width: fit-content;
}

code::before {
	content: attr(class);
	display: block;
	font-size: 12px;
	border-bottom: 1px solid var(--accent);
	margin-bottom: 10px;
	color: var(--accent);
}

a {
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
	background: var(--bg);
}